<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.css">
    <title>JUBJIB SHOP</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<body>
<nav class="navbar navbar-expand-lg navbar-dark custom-navbar ">
  <div class="container-fluid">
    <a class="navbar-brand font" href="#"> JUBJIB SHOP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link font" routerLink="/"><i class="bi bi-house"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font" routerLink="/menu">สินค้า</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font" routerLink="/about-us">เกี่ยวกับเรา</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font " routerLink="/contact-us">ติดต่อเรา</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font" routerLink="/reservation"></a>
        </li>
      </ul>
      <form class="d-flex ms-auto custom-search " role="search">
        <input class="form-control me-2 custom-search " type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline btn-color font" type="submit">Search</button>
      </form>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link login-space font" routerLink="/login"><i class="bi bi-house" ></i> Login</a>
        </li>
        <h2 class = " navbardeco" style="color: rgba(255, 252, 252, 0.741);">|</h2>
        
        </ul>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bag cart-deco" viewBox="0 0 16 16">
          <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
        </svg>
        
    </div>
  </div>
  
</nav>
 


<h2 class = "font welcome-deco">Welcome,</h2>
<hr />
<div class="row">
  
  <div class="col-4">
    <div class="card ">
      <div class="text-center">
        <img src="images/product01.jpg" class="" style="width: 150px;">
      </div>
      <div class="card-body font text-center ">
        <div class="card-title h5 "  style="text-align: left;">
           สินค้าที่ 1
        </div>
        <p class="card-text " style="text-align: left;">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
          <button type="button " class="btn btn-success justify-content-center" style = "text-align: center; ">Success</button>
      </div>
    </div>
  </div>
  
  <div class="col-4">
    <div class="card ">
      <div class="text-center">
        <img src="images/product01.jpg" class="" style="width: 150px;">
      </div>
      <div class="card-body font text-center ">
        <div class="card-title h5 "  style="text-align: left;">
           สินค้าที่ 1
        </div>
        <p class="card-text " style="text-align: left;">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
          <button type="button " class="btn btn-success justify-content-center" style = "text-align: center; ">Success</button>
      </div>
    </div>
  </div>
  
  <div class="col-4">
    <div class="card ">
      <div class="text-center">
        <img src="" class="" style="width: 150px;">
      </div>
      <div class="card-body font text-center ">
        <div class="card-title h5 "  style="text-align: left;">
           สินค้าที่ 1
        </div>
        <p class="card-text " style="text-align: left;">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
          <button type="button " class="btn btn-success justify-content-center" style = "text-align: center; ">Success</button>
      </div>
    </div>
  </div>
</div>










</body>